<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>Document</title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            
        </head>
        <body>
        <div class= "jumbotron bg-info text-center text-light"><h1>Wow... what a team</h1></div>
        <div class= "container mt-5">
        <div class="row"> 
    <div class="card bg-warning col-lg-4" >
    <ul class="list-group list-group-flush">
      <li class="list-group-item bold"><h1>Manager</h1></li>
      <li class="list-group-item">sfghdj</li>
      <li class="list-group-item">ID: dsvfhsd</li>
      <li class="list-group-item">Email: fvgdsjhk</a></li>
      <li class="list-group-item">Office Number:dsfbhju</li>
    </ul>
    </div><div class="card bg-primary col-lg-4">
<ul class="list-group list-group-flush">
  <li class="list-group-item bold"><h1>Engineer</h1></li>
  <li class="list-group-item">fdsgbujk</li>
  <li class="list-group-item">ID: dfsgbjukl</li>
  <li class="list-group-item">Email: sfdghbjulk</li>
  <li class="list-group-item">Github:<a class="nav-link" href="https://www.github.com/fdsghuijlk" target="_blank"> fdsghuijlk</a> </li>
</ul>
</div><div class="card bg-dark col-lg-4" >
    <ul class="list-group list-group-flush">
      <li class="list-group-item bold"><h1>Intern</h1></li>
      <li class="list-group-item">sdfgbujklm</li>
      <li class="list-group-item">ID:bsdfj</li>
      <li class="list-group-item">Email:bgfsdjlk</a></li>
      <li class="list-group-item">School:sdfhbulk</li>
    </ul>
    </div>
                   
                    </body> 
                    </html>
                    